<div class="clearfix">
  <img src={{or entry.avatar "/images/no-avatar.png"}} class="avatar img-circle pull-left" alt="Avatar">
  <p class="author">{{or entry.fullTitle "Full Name (Witty Title)"}}</p>
  <date>{{entry.createdAt}}</date>
</div>
<p>{{entry.prose}}</p>
