<div class="clearfix">
  {{user-avatar entry=entry class="pull-left"}}
  <p class="author">{{or fullTitle "Full Name (Witty Title)"}}</p>
  <date>{{entry.createdAt}}</date>
</div>

{{entry-prose steps=entry.steps}}
