<div class="clearfix">
  {{user-avatar entry=entry class="pull-left"}}
  <p class="author">{{or entry.fullTitle "Full Name (Witty Title)"}}</p>
  <date>{{entry.createdAt}}</date>
</div>
<p>{{entry.prose}}</p>
