<h1>Been here before?</h1>

<p>If you have already submitted an entry please authenticate by entering your <em>authenticator code</em>. Otherwise join us by clicking the <em>Create a new entry</em> button.</p>

{{#auth-verify-form onverify=(perform authenticateAndRedirect)}}
  {{#link-to "entries.new" tagName="button" class="btn btn-block btn-default" disabled=auth.authenticate.isRunning}}
    <span class="glyphicon glyphicon-plus"></span>
    Create a new entry
  {{/link-to}}

  {{#link-to "login.recover" class="btn btn-block btn-link" disabled=auth.authenticate.isRunning}}
    I've lost my authenticator credentials
  {{/link-to}}
{{/auth-verify-form}}
