<h1>Finding yourself&hellip;</h1>

<p>Sorry to hear that you lost your authenticator identity. When you first registered you sealed the deal with a secret. Now is the time to resurecct that secret and enter it in below. Then a new authenticator QR Code will render for you.</p>

{{#bs-form model=(changeset this recoveryValidations) action=(perform recoverIdentity)}}
  {{#bs-form-element label="Email" property="email" as |value formElementId|}}
    {{bs-input type="email" required=true value=value id=formElementId}}
    {{email-help-block hashValue=(readonly value)}}
  {{/bs-form-element}}

  {{bs-form-element
      controlType="password"
      label="Recovery Code"
      property="recoveryCode"
      required=true}}

  <button type="submit" class="btn btn-block btn-primary" disabled={{recoverIdentity.isRunning}}>
    <span class="glyphicon glyphicon-qrcode"></span>
    Recover identity
  </button>
{{/bs-form}}
