{{#bs-form-group}}
  {{bs-form-element
      controlType=type
      label=label
      size=size
      value=value
      placeholder=placeholder
      required=required
      property=propertyName}}

  {{#if hasBlock}}
    <span class="help-block">
      {{yield}}
    </span>
  {{/if}}
{{/bs-form-group}}
