{{#bs-form-group}}
  {{bs-form-element
      controlType=type
      label=label
      size=size
      placeholder=placeholder
      required=required
      property=propertyName
      change=(action "optionalChange")}}

  {{#if hasBlock}}
    <span class="help-block">
      {{yield}}
    </span>
  {{/if}}
{{/bs-form-group}}
