<h1>Add a new entry</h1>

{{#bs-form model=(changeset model entryValidations) action=(perform save)}}
  {{entries/edit-form}}

  {{#bs-form-group}}
    <button type="button" class="btn btn-default" disabled={{saving}} onclick={{action "cancel"}}>
      <span class="glyphicon glyphicon-chevron-left"></span>
      Cancel
    </button>

    <button type="submit" class="btn btn-primary" disabled={{saving}}>
      <span class="glyphicon glyphicon-save"></span>
      Register and Save
    </button>
  {{/bs-form-group}}
{{/bs-form}}
