<div class="auth-code-container">
  {{outlet}}

  <br>

  {{#link-to "entries" tagName="button" class="btn btn-default" type="button"}}
    <span class="glyphicon glyphicon-chevron-left"></span>
    Cancel
  {{/link-to}}
</div>
